{% extends 'layout.twig' %}

{% block body %}
  <h1 class="text-center mt-4">{{message}}</h1>
  <div class="text-center mt-4"><a href="/">Главная</a></div>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
{% endblock %}
