<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/notes/add">Добавить заметку</a>
		</li>
	</ul>
	<form class="form-inline my-2 my-lg-0">
		<a class="nav-link mr-sm-2" href="/logout">Выход</a>
	</form>
</div>